concurrency:
  group: goapp-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true
on:
  workflow_call:
    secrets: {}
    inputs:
      oci-image-base:
        type: string
        required: true
      push-oci-image:
        type: boolean
        required: false
        default: false
      workload-identity-provider:
        type: string
        required: true
      service-account:
        type: string
      artifact-registry-location:
        type: string
        default: "europe"
        description: Artifact registry region name (e.g. "europe", "europe-north1").
      go-runtime:
        type: string
        default: "docker"
        description: Run mage go related tasks in "docker" (default) or local
      additional-globs-go:
        type: string
        default: ""
        description: A comma separated list of Globs which triggers golang ci
      additional-globs-terraform:
        type: string
        default: ""
        description: A comma separated list of Globs which triggers terraform ci
    outputs:
      oci-images:
        value: ${{ jobs.goapp.outputs.oci-images }}
        description: OCI image references.
jobs:
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    outputs:
      golang: ${{ steps.go.outputs.golang == 'true' || github.event_name == 'workflow_dispatch' }}
      terraform: ${{ steps.terraform.outputs.terraform == 'true' && github.event_name == 'pull_request' }}
      policy-bot: ${{ steps.policy-bot.outputs.policy_bot == 'true' && github.event_name == 'pull_request' }}
      catalog-info: ${{ steps.catalog-info.outputs.catalog_info == 'true' && github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          list-files: csv
          filters: |
            changed:
              - '**'
      - name: Install go Tools
        run: go install tool
      - name: List changes
        id: list
        run: go tool mage git:listChanges
      - name: Check for Go changes
        id: go
        run: echo "golang=$(go tool mage go:changes)" >> $GITHUB_OUTPUT
        env:
          ADDITIONAL_GLOBS_GO: ${{ inputs.additional-globs-go }}
          CHANGED_FILES: ${{ steps.filter.outputs.changed_files }}
      - name: Check for Terraform changes
        id: terraform
        run: echo "terraform=$(go tool mage terraform:changes)" >> $GITHUB_OUTPUT
        env:
          ADDITIONAL_GLOBS_TERRAFORM: ${{ inputs.additional-globs-terraform }}
          CHANGED_FILES: ${{ steps.filter.outputs.changed_files }}
      - name: Check for PolicyBot changes
        id: policy-bot
        run: echo "policy_bot=$(go tool mage policyBotConfig:changes)" >> $GITHUB_OUTPUT
      - name: Check for Catalog-info changes
        id: catalog-info
        run: echo "catalog_info=$(go tool mage catalogInfo:changes)" >> $GITHUB_OUTPUT
        env:
          CHANGED_FILES: ${{ steps.filter.outputs.changed_files }}

  goapp:
    name: Go application
    needs: ["detect-changes"]
    if: ${{  needs.detect-changes.outputs.golang == 'true'  }}
    uses: ./.github/workflows/reusable-goapp.yaml
    permissions:
      contents: read
      id-token: write
      packages: read
    secrets: inherit
    with:
      oci-image-base: ${{ inputs.oci-image-base }}
      push-oci-image: ${{ inputs.push-oci-image }}
      workload-identity-provider: ${{ inputs.workload-identity-provider }}
      service-account: ${{ inputs.service-account }}

  terraform:
    name: Terraform
    needs: ["detect-changes"]
    if: ${{  needs.detect-changes.outputs.terraform == 'true'  }}
    uses: ./.github/workflows/reusable-terraform.yaml
    permissions:
      contents: read
      pull-requests: write
      id-token: write
      packages: read
      checks: read
    secrets: inherit

  policy-bot:
    name: Policy Bot
    needs: [ "detect-changes" ]
    if: ${{  needs.detect-changes.outputs.policy-bot == 'true'  }}
    uses: ./.github/workflows/reusable-policy-bot.yaml

  catalog-info:
    name: Catalog Info
    needs: [ "detect-changes" ]
    if: ${{  needs.detect-changes.outputs.catalog-info == 'true'  }}
    uses: ./.github/workflows/reusable-catalog-info.yaml
    permissions:
      contents: read
      pull-requests: read
    secrets: inherit
