concurrency:
  group: reusable-goapp-${{ github.workflow }}-${{ github.ref }}
  # we might thing about disabling cancel on the main branch
  cancel-in-progress: true
on:
  workflow_call:
    secrets: {}
    inputs:
      oci-image-base:
        type: string
        required: true
      push-oci-image:
        type: boolean
        required: false
        default: false
      workload-identity-provider:
        type: string
        required: true
      service-account:
        type: string
      artifact-registry-location:
        type: string
        default: "europe"
        description: Artifact registry region name (e.g. "europe", "europe-north1").
      go-runtime:
        type: string
        default: "docker"
        description: Run mage go related tasks in "docker" (default) or local
    outputs:
      oci-images:
        value: ${{ jobs.goapp.outputs.oci-images }}
        description: OCI image references.

jobs:
  goapp:
    name: Go application CI
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
      packages: read
    outputs:
      oci-images: ${{ steps.oci-images.outputs.images }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure access to internal and private GitHub repos
        run: git config --global url."https://${{ secrets.REVIEWBOT_GITHUB_TOKEN }}:x-oauth-basic@github.com/coopnorge".insteadOf "https://github.com/coopnorge"
      - name: Autenticate with GCP
        id: gcp-auth
        if: ${{ inputs.push-oci-image }}
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: ${{ inputs.workload-identity-provider }}
          service_account: ${{ inputs.service-account }}
          create_credentials_file: true
      # - name: Configure Google Cloud Artifact Registry for Docker
      #   if: ${{ inputs.push-oci-image }}
      #   run: gcloud auth print-access-token | docker login https://${{ inputs.artifact-registry-location }}-docker.pkg.dev -u oauth2accesstoken --password-stdin
      - name: Login to Google Cloud Artifact Registry
        if: ${{ inputs.push-oci-image }}
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.artifact-registry-location }}-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}
      - name: Safe Git Workspace
        run: git config --global --add safe.directory /app
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"
      - name: Install go Tools
        run: go install tool
        # check if the download devtool command exist and then run it.
      - name: Check if coop mage has download devtool command
        id: has-downloaddevtools
        run: echo "outcome=$(go tool mage -l | grep go:downloadDevTools | wc -l)" >> $GITHUB_OUTPUT
      - name: Download Go Devtools
        if: ${{ steps.has-downloaddevtools.outputs.outcome == '1' }}
        run: "go tool mage -v go:downloadDevTools"
      - name: Check if coop mage has separeate build commands
        id: has-multiple-cmds
        run: echo "outcome=$(go tool mage -l | grep go:buildBinaries | wc -l)" >> $GITHUB_OUTPUT
        # this block requires coopnorge/mage > v0.10.0
      - name: Download Go modules
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '1' }}
        run: "go tool mage -v go:downloadModules"
      - name: Run Go Lint
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '1' }}
        run: "go tool mage -v go:lint"
      - name: Run Go Test
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '1' }}
        run: "go tool mage -v go:test"
      - name: Run Go Build
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '1' }}
        run: "go tool mage -v go:buildBinaries"
      - name: Build Docker Images
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '1' }}
        run: "go tool mage -v docker:buildImages"
        env:
          OCI_IMAGE_BASE: ${{ inputs.oci-image-base }}
          PUSH_IMAGE: ${{ inputs.push-oci-image }}
          GO_RUNTIME: ${{ inputs.go-runtime }}
        # this block is uses when <= v0.10.0
      - name: Build Go and Docker Images
        if: ${{ steps.has-multiple-cmds.outputs.outcome == '0' }}
        run: "go tool mage -v docker:buildAndPush"
        env:
          OCI_IMAGE_BASE: ${{ inputs.oci-image-base }}
          PUSH_IMAGE: ${{ inputs.push-oci-image }}
          GO_RUNTIME: ${{ inputs.go-runtime }}
      - id: oci-images
        name: Output OCI images references
        run: |
          if [ -f ./var/oci-images.json ]; then
            echo "images=$(cat ./var/oci-images.json)" >> $GITHUB_OUTPUT
          else
            echo "images={}" >> $GITHUB_OUTPUT
          fi
      - name: Generate token for writeback to pr
        id: generate_token
        # v1.5.1
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: 172868
          private-key: ${{ secrets.WRITEBACK_APP_PRIVATE_KEY_PEM }}
          owner: coopnorge

      - name: Get GitHub App User ID for the writeback to pr bot
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.generate_token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: clean checkout
        uses: actions/checkout@v6
        with:
          token: ${{ steps.generate_token.outputs.token }}
          path: set-tag
          fetch-tags: true

      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # pin@v6.1.0
        id: make-release
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        with:
          commitish: main
          config-name: "release-drafter.yml"
          publish: true

      - name: Show output
        if: always()
        run: tree var/
