concurrency:
  group: reusable-catalog-info-${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_call:
    inputs: {}
    secrets: {}

jobs:
  validate-policy-bot-config:
    name: Catalog info validator
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"

      - name: Install go Tools
        run: go install tool

      - name: Code Validation
        id: validate
        run: go tool mage cataloginfo:validate
